* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0px auto;
    text-align: center;
}

#headerbcg {
    background-image: url("../pattern.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.starting {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

section {
    padding: 30px 0px;
}

h3 {
    padding: 20px 0 0 0;
}